.toolbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #521751;
  height: 60px;

  &__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        padding: 0 0.7rem;
      }
    }

    &-items a {
      color: white;
      text-decoration: none;
      padding: 0 0.7rem;

      &:hover {
        color: green;
      }
    }
  }

  &__logo {
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 769px) {
    & div:first-of-type {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }

  .toolbar & div:first-of-type {
    order: 2;
  }
}
